* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header  {
    display: flex;
    margin: 0 auto;
    background-color: rgb(31,34,43);
    display: flex;
    align-items: center;
    position: relative;
     
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 20px;
    border: 5px solid white;
}

#presentacion {
    color: white;
    width: 60%;
    margin-left: auto;
}

#titulo_presentacion {
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    font-weight: bold; 
}

#comentario_presentacion {
    font-size: 16px;
    color: lightgray;
}

.area_contenidos {
    display: flex;
    flex-wrap: wrap;
}

.area_izquierda {
    width: 20%;
    background-color: rgb(236, 236, 236);
}

.area_derecha {
    width: 80%;
    padding: 50px;
}

.area_izquierda .datos_contacto {
    margin-top: 20px;
    padding: 0 25px;
    text-align: center;
}

.datos_contacto h4 {
    font-size: 25px;
    font-weight: normal;
    margin: 60px 0;
}

.datos_contacto h5 {
    font-size: 13px;
    margin: 10px 0;
    font-weight: bold;
}

.datos_contacto p {
    font-size: 13px;
}

nav {
    float: right;
    width: 30%;
    padding: 20px;
    background-color: #5D8AA8;
}

#lista_datos {
    list-style: none;
}

#enlaces_referencias a:visited  {
    color: white;  
    font-family: arial; 
}

#enlaces_referenciasd a:hover { 
    color: rgb(44, 51, 65); 
    font-family: arial; 
}
  
article {
    float: left;
    padding: 20px;
    width: 70%;   
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.introduccion {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-indent: 20px;
}

.lista_datos, #titulo_referencias    {
    font-family: 'Russo One', sans-serif;
    font-size: large;   
}

.botonera_datos, #boton_enviar_comentarios  {
    text-decoration:none;
    font-family: 'Russo One', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:rgb(31,34,43);
    border-color: slategray;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.botonera_datos:hover   {
    background-color:slategray;
    color:rgb(31,34,43);
}

#boton_enviar_comentarios   {   
    background-color:slategray;
    border-color: white;
    color: rgb(31,34,43);
}

footer  {
    background-color: rgb(31,34,43);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40%;
    padding: 20px;
}

#form_comentario   {   
    margin: 0 auto;
 }

#footer_part_1  {
    width: 80%;
    float: right;
    padding: 10px;    
}

#footer_part_2 {   
    width: 80%;
    float: right;
    padding: 5px;
}

#comentario_contacto    {
    width: 750px;
    height: 103px;
}

#footer_send    {
    margin: 0 auto;
    padding: 50px;
    float: right;
    
}

#detalle_lista_datos_personales {
    display: none;
}

#detalle_lista_datos_educacion  {
    display: none;
}

#detalle_lista_datos_laborales  {
    display: none;
}

#detalle_lista_referencias {
    display: none;
}

#detalle_lista_idiomas {
    display: none;
}

#comentario_presentacion    {
    font-style: italic;
}